#pag{
    background-color: darkcyan;
    display: grid;
    grid-template-columns: 40% 40% 20%;
    grid-template-areas: 
    "filtro filtro cotizaciones"
    "contenido contenido_comercios map"
    "contenido contenido_comercios map";
}

#filtro{
    grid-area: filtro;
}

#map{
    grid-area: map;
    height: 400px;
    width: 400px;
    margin: 10%;

}

#cotizaciones{
    grid-area: cotizaciones;
}

#contenido{
    grid-area: contenido;
}

#contenido_comercios{
    grid-area: contenido_comercios;
}